html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "montserrat", sans-serif;
    background: url(header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
h1{
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}
button{
    color: white;
    background-color: coral ;
    padding: 1rem 1rem;
    font-weight: 700;
    border-radius: 300px;
    font-style: oblique;
    text-transform: uppercase;
    border-color: blue;
    margin-left: 39%;
    }
button:hover{
        background-color: blue;
    }
    hr{
        border-color: darkorange;
        border-width: 1px;
        max-width: 65px;
    }
/* ... (rest of your CSS) ... */
